*{
    margin:0;
    padding:0;
    box-sizing:0;
}
body{
    background-image: url("https://img.freepik.com/vector-premium/fondo-degradado-tonos-verdes_23-2148373476.jpg?w=2000");
    background-repeat: no-repeat;
    width:100%;
}
header {
    font-family:'Josefin Sans', sans-serif;
    text-align:center;
    font-size: 1,5em;
    margin-top:5% !important;
 

}

fieldset {
    border: 3px solid white !important;
    border-radius:20px;
    width:70%;
    margin-top:15% !important;
    
    
}

input {
    background-color:transparent;
    color:black;
    font-family:'Fira Sans', sans-serif !important;
    font-size: 1em;
    width:50% !important;
    margin-left:25% !important;
    margin-top:4% !important;
    margin-bottom:3% !important;
    border-radius:20px;
    border: 1px solid white !important;
    padding:1%;
}
input:focus {
    background-color:white;
}

button {
    background-color:transparent;
    color:black;
    font-family:'Fira Sans', sans-serif !important;
    font-size: 1em;
    width:30% !important;
    padding:1%;
    border-radius:20px !important;
    border: 2px solid white !important;
    margin-left:35% !important;
    margin-bottom:3% !important;

}

button:hover {
    background-color:white;
}

h3 {
    display:block;
    margin-top:1%!important;
    text-align:center;
    font-family:'Josefin Sans', sans-serif;
    font-size: 1em;

}
