@media screen and (min-width:320px) and (max-width:480px) {
    .col-1 {
        width: 100%;
        float: left;}
    .col-2 {
        width: 100%;
        float: left;
    }
    .col-3 {
        width: 100%;
        float: left;
    
    }
    .col-4 {
        width: 100%;
        float: left;
    }
    .col-5 {
        width: 100%;
        float: left;
    }
    .col-6 {
        width: 100%;
        float: left;
    }
    .col-7 {
        width: 100%;
        float: left;
    }
    .col-8 {
        width: 100%;
        float: left;
    }
    .col-9 {
        width: 100%;
        float: left;
    }
    .col-10 {
        width: 100%;
        float: left;
    }
    .col-11 {
        width: 100%;
        float: left;
    }
    .col-12 {
        width: 100%;
        float: left;
    }

    body{
        width:100%
    }
    h1 {
        font-size: 2em;
        color: white;
        margin-bottom: 1%;
        padding: 1%;
    }

    nav {
        padding-bottom:2%;
    

    }

    nav a{
        margin-right: 5%;
        padding-right:5%;
        padding-left:5%;
        font-size:0.8em;
    }    

    button {
        height:10%;
        padding:2%;
        border: 2px solid white;
        border-radius: 20px;
        font-size:0.7em;
    }

}
